@import '../../styles'

.layout
  display: flex
  flex-direction: column
  height: 100vh
  background-color: $background_color
  color: $primary_text_color

  &__back_button_container
    padding: 15px 0 0 15px

  &__back_button
    font-size: 22px
    color: $primary_text_color

  &__content_container
    flex: 1
    
    & > *
      height: 100%
  
  &__menu_container
    height: 5vh